header {
  width: 100%;
  min-height: 90vh;
  .container {
    margin: 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-container {
      box-shadow: var(--box-shadow);
      position: relative;
      z-index: 1;
      figure {
        position: relative;
        height: 600px;
        img {
          width: 550px;
          height: 100%;
          object-fit: cover;
          object-position: bottom;
        }

        figcaption {
          text-align: center;
          color: white;
          font-size: 2rem;
          position: absolute;
          bottom: 0px;
          width: 100%;
        }
      }
    }

    .text-container {
      background-color: white;
      width: 760px;
      padding: 40px;
      box-shadow: var(--box-shadow);

      display: flex;
      flex-direction: column;
      gap: 28px;

      .links {
        margin-left: auto;
        display: flex;
        gap: 28px;
        img {
          width: 40px;
          height: auto;
          position: relative;
          bottom: 0;
        }
      }
    }
  }
}

body::before {
  content: "";
  height: 720px;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  transform-origin: 0;
  transform: skewY(-13deg);
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  header {
    .container {
      flex-direction: column;

      .text-container {
        background: none;
        box-shadow: none;
        width: 100%;

        h2 {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .container {
      flex-direction: column;
      .image-container {
        width: 100%;
        figure {
          height: 700px;
          img {
            width: 100%;
          }
        }
      }
      .text-container {
        padding-left: 0;
        padding-right: 0;

        .links {
          margin: 0 auto;
        }
      }
    }
  }

  body::before {
    transform: skewY(-30deg);
  }
}
